In [8]:
# Dependencies
import pymongo
import datetime
import pandas as pd

In [13]:
# Connect to database
client = pymongo.MongoClient('mongodb://localhost:27017')
db = client['carsguide_used_cars_australia']
collection = db.scraped_cars

# Create df
df = pd.DataFrame(list(collection.find()))
df.head()

,_id,Dealer Name,Year-make-model,KMs,Tansmission,Price,Comments,Source URL,Year,Make,Model,State Abrev,Suburb,Listing Type,Date scraped,Page Number
0,616017a57591e422f04df82e,Parkside Motor Co,2006 Mercedes-Benz C200 Kompressor,189474,Automatic,8990,Just arrived stunning C200 Kompressor Sport in...,https://www.carsguide.com.au/buy-a-car/all-new...,2006,Mercedes-Benz,"[C200, Kompressor, ]",WA,Maylands,USED Dealer ad,2021/10/08,0
1,616017a57591e422f04df82f,Great Deal Auto,2009 Ford Ranger XL,195565,Automatic,15500,We offer onsite finance through Australias lea...,https://www.carsguide.com.au/buy-a-car/all-new...,2009,Ford,"[Ranger, XL]",WA,Malaga,USED Dealer ad,2021/10/08,0
2,616017a57591e422f04df830,Fabcar,2004 Toyota Estima Aeras,84973,Automatic,29888,** VIEWINGS BY APPOINTMENT ONLY **** MOBILITY ...,https://www.carsguide.com.au/buy-a-car/all-new...,2004,Toyota,"[Estima, Aeras]",WA,Perth,USED Dealer ad,2021/10/08,0
3,616017a57591e422f04df831,Osborne Park Nissan used,2018 Dodge N/A Laramie Crew Cab SWB,106000,Automatic,149999,THOUSANDS SPEND ON UPGRADES!! heavy duty rear ...,https://www.carsguide.com.au/buy-a-car/all-new...,2018,Dodge,"[N/A, Laramie, Crew, Cab, SWB]",WA,Osborne Park,USED Dealer ad,2021/10/08,0
4,616017a57591e422f04df832,Subaru Wangara used,2015 Volkswagen Golf R,102001,Manual,39998,LIVE THE FULL HOT HATCH EXPERIENCE.. Tastefull...,https://www.carsguide.com.au/buy-a-car/all-new...,2015,Volkswagen,"[Golf, R]",WA,Wangara,USED Dealer ad,2021/10/08,0

In [15]:
# Number of listings per state
df['State Abrev'].value_counts()

VIC        12318
NSW        12298
QLD         9304
WA          8170
SA          3408
TAS         1112
ACT          785
NT           442
Hyundai        3
Name: State Abrev, dtype: int64

In [22]:
df2 = df.copy()
df2['Price'] = df2.loc[:,"Price"].astype(float)
df2.head()

TypeError: float() argument must be a string or a number, not 'ObjectId'

In [18]:

df['Price'] = df[pd.to_numeric(df['Price'], errors='coerce').notnull()]
df['Price'].mean()

TypeError: unsupported operand type(s) for +: 'ObjectId' and 'ObjectId'

In [26]:
df_state_grouped = df.groupby(['State Abrev'])
df_state_grouped.count().head()

,_id,Dealer Name,Year-make-model,KMs,Tansmission,Price,Comments,Source URL,Year,Make,Model,Suburb,Listing Type,Date scraped,Page Number
State Abrev,,,,,,,,,,,,,,,
ACT,785,785,785,785,785,780,785,785,785,785,785,785,785,785,785
Hyundai,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
NSW,12298,12298,12298,12298,12298,12217,12298,12298,12298,12298,12298,12298,12298,12298,12298
NT,442,442,442,442,442,440,442,442,442,442,442,442,442,442,442
QLD,9304,9304,9304,9304,9304,9237,9304,9304,9304,9304,9304,9304,9304,9304,9304

In [27]:
df_state_grouped['Price'].mean()

DataError: No numeric types to aggregate